<%- include ../includes/header.ejs %>
<html>
    <body>
      <div class ="container min-container">
          <h2 class="basic-title">Produto salvo com sucesso!</h2>
      </div>
    </body>
</html>
<%- include ../includes/footer.ejs %>
